@use 'reset';
@use 'vars';

html {
  
}


.root {
  
}

body {
  font-family: sans-serif;
  
}

@media only screen and (max-width: 767px) {
  .ui.container {
    // 
    // width: 600px;
    margin: 0 auto;
  }

}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
