.searchbar {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  
  
}

.ui.inverted.menu {
  height: 90px;
}

.ui.menu {
  height: 90px;
}

.Item {
  width: 100px;
}

.searchbar-element {
  font-size: 1.3em;
  width: 90px;
}

.form {
  // width: 30%;
  margin-left: 30px;
  margin-top: 25px;
  // margin: 0 auto;
}

.ui.form {
    position: static;
}
