h2.ui.header.titleFaq {
  margin-bottom: 15px;
}

h1.ui.header.titleFaq {
  margin-bottom: 20px;
}

.faqp {
  padding-bottom: 15px;
}

em {
  font-weight: bold;
}

.ui.message {
  
}

.faqresult {
  height: 600px;
}
