.searchresult {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  
}

.ui.message {
  background-color: rgb(240, 245, 252);
}

em {
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(0, 110, 255);
}

.presult {
  font-size: 1.2em;
  
}
